.button-style {
    position: relative;
    padding: 0; 
    display: flex;
    font-weight: 600;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    background-color: #DA9D4F;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: inset 0 -10px 10px -7px rgba(0, 0, 0, 0.4);
    transition:
      background-color 0.3s,
      color 0.3s;
    z-index: 10;
}

.button-style:hover {
  background-color: #C87C2A;
  color: #fff;
}