---
import AuthLayout from "@layouts/AuthLayout.astro";
import Test from "@components/Test.astro";
import RegisterForm from "@components/registerForm.jsx";
import LoginForm from "@components/loginForm.jsx";
import App from "@components/App.jsx";
---

<AuthLayout title="WS + Redis test">
  <section>
    <Test />
    <App client:load />
  </section>

  <section>
    <h2>Registro</h2>
    <RegisterForm client:load />
  </section>

  <section>
    <h2>Login</h2>
    <LoginForm client:load />
  </section>
</AuthLayout>
