---
export const prerender = false;
import BarMenu from "@components/barMenu.astro";
import CoursesCards from "@components/coursesCards.astro";
import Navbar from "@components/navbar.astro";
import AuthLayout from "@layouts/AuthLayout.astro";
import CircleLinks from "src/assets/circleLinks.astro";
---

<AuthLayout title="Home">
  <!--se encarga de mostrar el username y el nav -->
  <Navbar />

  <div class="refContainer">
    <CircleLinks
      gradient=`156.25deg,
  rgba(171, 74, 253, 0.5) -5.64%,
  rgba(36, 14, 89, 0.85) 97.97%`
      subtitle="Docs"
      image="/bookStar.png"
      width="60"
    />
    <CircleLinks
      gradient=`156.25deg, #66E8FF -5.64%, rgba(36, 14, 89, 0.8) 97.97%`
      subtitle="Code"
      image="/codeIcon.png"
    />
    <CircleLinks
      gradient=`156.25deg, rgba(254, 84, 112, 0.5) -5.64%, rgba(36, 14, 89, 0.85) 97.97%`
      subtitle="Games"
      image="/playIcon.png"
      width="45"
    />
  </div>

  <div class="coursesContainer">
    <h2>Mis cursos</h2>
    <div class="courses">
      <a href="/course/course-html">
        <CoursesCards
          src=`/html5.png`
          subtitle=`Introducción a HTML`
          width="40"
        />
      </a>

      <CoursesCards
        src=`/css3.png`
        subtitle=`Introducción
      a CSS`
        width="40"
      />

      <CoursesCards src=`/moreIcon.png` subtitle=`Descubrir más` width="40" />
    </div>
  </div>

  <BarMenu />
</AuthLayout>

<style>
  body {
    background-color: #f1edfa;
  }

  .refContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
  }

  .coursesContainer {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin: 0 auto;
  }
  .coursesContainer h2 {
    align-self: flex-start;
    margin-left: 1.25rem;
    color: #24014a;
    margin-top: 30px;
    margin-bottom: 5px;
  }
  .courses {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
</style>
