---
import AuthLayout from "@layouts/AuthLayout.astro";
import RegisterForm from "@components/registerForm.jsx";
---

<AuthLayout title="Crear cuenta">
  <section>
    <h2>Registro</h2>
    <RegisterForm client:load />
  </section>
</AuthLayout>
