---
const { width = "40px", height = "40px" } = Astro.props;
---

<nav class="barMenu">
  <a class="iconContainer" href="/">
    <img src="/home.png" alt="Home Icon" />
    <p>Home</p>
  </a>

  <a class="iconContainer" href="/community">
    <img src="/friends.png" alt="Home Icon" />
    <p>Social</p>
  </a>

  <a class="iconContainer" href="/trophies">
    <img src="/trophy.png" alt="Home Icon" />
    <p>Trofeos</p>
  </a>

  <a class="iconContainer">
    <img src="/createCode.png" alt="Home Icon" />
    <p>Crear</p>
  </a>

  <a class="iconContainer" href="/profile">
    <div class="elipseUser"></div>
    <p>Perfil</p>
  </a>
</nav>

<style>
  .barMenu {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background: #f1edfa;
    z-index: 1000;
  }

  .barMenu img {
    width: 40px;
    height: 40px;
  }
  .iconContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  .iconContainer p {
    font-size: 1rem;
    color: #24014a;
  }

  .elipseUser {
    width: 40px;
    height: 40px;
    background: linear-gradient(
      156.25deg,
      #825d97 0%,
      #ab4afd 50%,
      #482d8a 100%
    );
    border-radius: 50%;

  }
</style>
