---
const { title = "", paragraph = "" } = Astro.props;
---

<div class="challenge-container">
  <h2 id="challenge-title">{title}</h2>
  <p id="challenge-paragraph">{paragraph}</p>

  <div class="challenge-info">
    <img src="/bg-versus.png" id="challenge-bg" />
    <div class="user-info-container" id="left-user">
      <div class="challenge-user-img"></div>
      <p>Tú</p>
    </div>
    <div class="user-info-container" id="right-user">
      <div class="challenge-user-img"></div>
      <p>Elegir Oponente</p>
    </div>
  </div>

  <button type="button" class="button-style">INICIAR DESAFÍO</button>
</div>

<style>
  #challenge-title {
    font-weight: 600;
    line-height: 19px;
    color: #240e59;
    font-size: 1.7rem;
    margin-bottom: 0.7rem;
  }
  #challenge-paragraph {
    font-weight: 400;
    line-height: 25px;
    color: #171155;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .challenge-container {
    position: relative;
    box-sizing: border-box;
    width: 90%;
    margin: 2rem auto;
  }
  #challenge-bg {
    width: 100%;
    height: auto;
  }

  .challenge-info {
    position: relative;
    width: 100%;
  }
  .user-info-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 8%;
    text-align: center;
  }
  #left-user {
    left: 12%;
  }
  #right-user {
    right: 6%;
  }
  .user-info-container p {
    color: #ffffff;
  }

  .challenge-user-img {
    width: 85px;
    height: 85px;
    background: #ccc;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }

  .button-style {
    width: 100%;
    padding: 0.4rem 0;
    font-weight: 600;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    background-color: #da9d4f;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: inset 0 -10px 10px -7px rgba(0, 0, 0, 0.4);
    transition:
      background-color 0.3s,
      color 0.3s;
    z-index: 10;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.5rem;
  }

  .button-style:hover {
    background-color: #c87c2a;
    color: #fff;
  }
</style>
