---
import Burguer from "../assets/burguer.astro";
import Bell from "../assets/bell.astro";
import Logout from "../assets/logout.astro";
---

<nav>
  <Burguer id="btnBurguer" w="50px" h="50px" />
  <a id="title">Coding War</a>
  <section id="rightSideNav">
    <Bell id="btnNotifications" w="25px" />
    <Logout id="btnLogout" w="25px" />
  </section>
</nav>

<style>
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }

  #rightSideNav {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 15px;
  }
</style>
