---
import Navbar from "@components/navbar.astro";
import AuthLayout from "@layouts/AuthLayout.astro";
---

<AuthLayout title="Curso HTML">
  <Navbar title="Cursos" />
  </div>
</AuthLayout>

<style>
  .mapContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  a { text-decoration: none; }
</style>
