#textViewer {
  max-width: 70%;
  font-size: 1.5rem;
  padding: 1rem;
  border: black 1px solid;
  background-color: antiquewhite;
  overflow-wrap: break-word;
  white-space: pre-wrap; 
}

#inputText {
  padding: 1rem;
  border-radius: 10px;
  box-sizing: border-box;
}